.text{
	
    text-align: center;
	font-size: 24px;
}
.Err{
    text-align: center;
	font-size: 50px;
    color: red;
    background-color: #ffff38;
}
.dropdown{
    background-color: #666;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.button {
	display: inline-block;
	padding: 5px 15px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #666;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #ccc;
}

.button:hover {background-color: #999}

.button:active {
	background-color: #999;
	box-shadow: 0 5px #ccc;
	transform: translateY(4px);
}