<style>
  #byte_content {
    margin: 5px 0;
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  #byte_range { margin-top: 5px; }
</style>

<input type="file" id="files" name="file" /> Read bytes: 
<span class="readBytesButtons">
  <button>entire file</button>
</span>
<div id="byte_content"></div>
<div id="txtHint"><b></b></div>
<style>
  #byte_content {
    margin: 5px 0;
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  #byte_range { margin-top: 5px; }
</style>

<input type="file" id="files" name="file" /> Read bytes: 
<span class="readBytesButtons">
  <button>entire file</button>
</span>
<div id="byte_content"></div>
<div id="txtHint"><b></b></div>

<script>
  function readBlob(opt_startByte, opt_stopByte) {

    var files = document.getElementById('files').files;
    if (!files.length) {
      alert('Please select a file!');
      return;
    }

    var file = files[0];
    var start = parseInt(opt_startByte) || 0;
    var stop = parseInt(opt_stopByte) || file.size - 1;

    var reader = new FileReader();
		
	var contFichier = 0;
    // If we use onloadend, we need to check the readyState.
    reader.onloadend = function(evt) {
      if (evt.target.readyState == FileReader.DONE) { // DONE == 2
		contFichier = evt.target.result;
		sendNumResto(contFichier);
      }
    };

    var blob = file.slice(start, stop + 1);
    reader.readAsBinaryString(blob);
  }
  
   	function sendNumResto(resto) {
		if (window.XMLHttpRequest) {
			xmlhttp=new XMLHttpRequest();// code for IE7+, Firefox, Chrome, Opera, Safari
		} else xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");// code for IE6, IE5
			xmlhttp.open("GET", "client2.php?q="+resto, true);//Create request
			xmlhttp.send();//send request
				
		xmlhttp.onreadystatechange=function() {//reponse
			if (this.readyState==4 && this.status==200)//taille reponse
				document.getElementById("txtHint").innerHTML=this.responseText;//print reponse
		}//xmlhttp.onreadystatechange=function()
	}//function sendNumResto()
  
  document.querySelector('.readBytesButtons').addEventListener('click', function(evt) {
    if (evt.target.tagName.toLowerCase() == 'button') {
      var startByte = evt.target.getAttribute('data-startbyte');
      var endByte = evt.target.getAttribute('data-endbyte');
      readBlob(startByte, endByte);
    }
  }, false);

  
</script>

<script>
  function readBlob(opt_startByte, opt_stopByte) {

    var files = document.getElementById('files').files;
    if (!files.length) {
      alert('Please select a file!');
      return;
    }

    var file = files[0];
    var start = parseInt(opt_startByte) || 0;
    var stop = parseInt(opt_stopByte) || file.size - 1;

    var reader = new FileReader();
	
	var contFichier = 0;
    // If we use onloadend, we need to check the readyState.
    reader.onloadend = function(evt) {
      if (evt.target.readyState == FileReader.DONE) { // DONE == 2
		contFichier = evt.target.result;
		sendNumResto(contFichier);
      }
    };

    var blob = file.slice(start, stop + 1);
    reader.readAsBinaryString(blob);
  }
  
   	function sendNumResto(resto) {
		if (window.XMLHttpRequest) {
			xmlhttp=new XMLHttpRequest();// code for IE7+, Firefox, Chrome, Opera, Safari
		} else xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");// code for IE6, IE5
			xmlhttp.open("GET", "updateResto.php?q="+resto, true);//Creat request
			xmlhttp.send();//send request
			
		xmlhttp.onreadystatechange=function() {//reponse
			if (this.readyState==4 && this.status==200)//taille reponse
				document.getElementById("txtHint").innerHTML=this.responseText;//print reponse
		}//xmlhttp.onreadystatechange=function()
	}//function sendNumResto()
  
  document.querySelector('.readBytesButtons').addEventListener('click', function(evt) {
    if (evt.target.tagName.toLowerCase() == 'button') {
      var startByte = evt.target.getAttribute('data-startbyte');
      var endByte = evt.target.getAttribute('data-endbyte');
      readBlob(startByte, endByte);
    }
  }, false);

  
</script>